/*///[déclaration variables]///*/

:root {
  --rouge-strong: #bf1b1b;
  --blanc-casse-strong: hsl(0, 70%, 99%);
  --noir-casse-strong: #252323;
  --font-titre: "Raleway", sans-serif;
  --font-corps: "Calibri", sans-serif;
  --shadow-small: 0 0 3px 1px rgba(0, 0, 0, 0.1);
}

/*///[Tailles fonts]///*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-titre);
  color: var(--noir-casse-strong);
  font-weight: 800;
  letter-spacing: 0.1em;
}

h1 {
  font-size: 4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

p {
  font-size: 1.2em;
  line-height: 1.4em;
  text-align: justify;
}

html {
  --scroll-behavior: smooth;
  scroll-behavior: smooth;
}

/* Style pour centrer le texte */
.center {
  text-align: center;
}

/* Style pour la section d'accueil */
.accueil {
  position: relative;
  width: 100%; /* Occupe toute la largeur de la page */
}

/* Style pour l'image de fond */
.accueil img {
  width: 100%; /* Occupe toute la largeur de la section */
  height: auto; /* Garantit que l'image ne soit pas déformée */
  
}

/* Style pour la div de filtre */
.filter-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Occupe toute la largeur de la section */
  height: 100%; /* Occupe toute la hauteur de la section */
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 1; /* Place la div au-dessus de l'image */
}

/* Style pour le conteneur du texte */
.text-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 33.33%; /* Occupe un tiers de la largeur de la section */
  height: 100%; /* Occupe toute la hauteur de la section */
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 2;
  display: flex; 
  align-items: center; 
}

/* Style pour le texte */
.accueil-text {
  width: 50%;
  text-align: center;
  margin: auto;
  display: flex; 
  align-items: center; 
}

/* Style CSS pour le centrage et le formatage du texte */
.options-container {
  text-align: center;
  padding: 100px;
}

.qr_code{
  height: 160px;
  margin: auto;

}


/* Style pour les boutons */
.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 30px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  background-color: var(--blanc-casse-strong);
  border: 3px solid var(--rouge-strong);
  border-radius: 10px;
  color: var(--rouge-strong);
  font-weight: bold;
  font-size: 1.2em;
}

/* Ajouter un effet de transition */
.button:hover {
  background-color: var(--rouge-strong);
  color: var(--blanc-casse-strong);
  text-decoration: none;
}

/*///[Header]///*/

@keyframes header-appear {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes content-appear {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.appear-from-bottom {
  animation: content-appear 1s ease-out backwards;
}

header {
  z-index: 999;
  position: sticky;
  align-items: center;
  justify-items: center;
  box-shadow: var(--shadow-small);
  background-color: var(--blanc-casse-strong);
  height: 80px;
  padding: 1em 2em;
  animation: header-appear 1s ease-out 0.8s backwards;
}

.header-container {
  display: flex;
  align-items: center;
  justify-items: center;
  height: 100%;
}

.logo-header img {
  width: auto;
  height: 50px;
}

.menu {
  flex-grow: 1;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  text-align: center;
  margin-right: 30px;
}

nav a {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 10px;
  transition: background-color 0.3s ease;
  border-radius: 10px;
  font-family: var(--font-titre);
  font-weight: bolder;
  letter-spacing: 0.1em;
  transition: all 0.3s ease-in-out;
}

nav a:hover {
  background-color: var(--rouge-strong);
  color: var(--blanc-casse-strong);
  transform: scale(1.1);
}

.menu-btn {
  display: none;
  /* hide the button by default */
  position: absolute;
  right: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 999;
}

.menu-btn span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: var(--noir-casse-strong);
  margin: 5px 0;
  /* add three horizontal lines to the button */
}

.menu-show {
  display: flex;
  flex-direction: column;
  /* show the menu as a column */
}

.menu-show li {
  margin: 10px 0;
  /* add some margin to the menu items */
}

/*///[Body]///*/

body {
  font-family: var(--font-corps);
  margin: 0px;
  background-color: var(--blanc-casse-strong);
}

main {
  padding: 0 16px;
  margin: auto;
  max-width: 1024px;
}

main > section {
  display: flex;
  align-items: center;
  justify-items: center;
  margin: 80px 0px;
}

main > section:nth-child(2n + 1) {
  flex-direction: row-reverse;
}

.image-illustration {
  width: 300px;
  height: 300px;
  border-radius: 15px;
  margin: auto;

}

.container img {
  align-items: center;
  justify-items: center;
}

.section-image img{
  margin: 0 20px;
}

.image {
  width: 40%;
}

.center {
  text-align: center;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  padding: 50px 40px;
}

/*///[Footer]///*/
footer {
  background-color: var(--noir-casse-strong);
  color: var(--blanc-casse-strong);
  padding: 2em 1em 1em;
  text-align: center;
  font-size: 1em;
}

footer h1,
footer h2,
footer h3,
footer h4,
footer h5 {
  color: var(--blanc-casse-strong);
  margin: 0;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer li {
  margin: 0.4em 0;
}

footer a {
  text-decoration: none;
  color: var(--blanc-casse-strong);
  transition: color 0.3s ease;
}

footer a:hover {
  color: #aaa;
  text-decoration: underline;
}

.footer-content {
  display: flex;
  text-align: left;
  max-width: 1024px;
  margin: auto;
  flex-wrap: wrap;
  gap: 3em;
}

.footer-content section {
  flex-grow: 1;
}

footer .rights {
  font-size: 0.8em;
}

/*///[Vignette_equipe]///*/

.vignettes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5em;
  margin-bottom: 100px;
  gap: 2em;
}

.person-card {
  
  width: 200px;  
  text-decoration: none;  
  
}

.person-card:hover img {
  transform: scale(1.1);
}

.person-card-img {
  text-align: center;
}

.person-card-img img {
  width: 50%;
  transition: all 0.3s ease-in-out;
}

.person-card-name-role {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.person-card-name {
  text-align: center;
  align-items: center;
  font-family: var(--font-titre);
  font-size: 20px;
  font-weight: 700;
  color: #283246;
}

.person-card-role {
  text-align: center;
  font-family: var(--font-corps);
  font-size: 18px;
  color: #666f7e;
}

/*///[Portrait individuel]///*/
.portrait-header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  color: var(--noir-casse-strong);
  font-family: var(--font-titre);
}

.portrait-cover img {
  height: 400px;
  width: 100%;
  object-fit: none;
  display: block;
}

.portrait-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-150px);
}

.img-portrait img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: solid white 14px;
  border-radius: 14px;
}

.name-portrait {
  font-size: 2.2em;
  font-weight: 800;
}

.role-portrait {
  font-size: 1.2em;
  font-weight: 200;
}

.portrait-content {
  margin-top: 580px;
  margin-bottom: 4em;
}

button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  border-radius: 0.3rem;
  padding: 0.2rem 0.3rem;
}

input,
textarea {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  border: var(--noir-casse-strong) solid 2px;
  border-radius: 0.3rem;
  padding: 0.2rem 0.3rem;
}

#contact-form textarea {
  width: 100%;
  resize: none;
}

#contact-form button {
  margin: auto;
  display: block;
}

/*///[media 895px]///*/

@media (max-width: 895px) {
  h1 {
    font-size: 2.4em;
  }
  h2 {
    font-size: 1.6em;
  }

  .portrait-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-130px);
  }

  .img-portrait img {
    width: 260px;
    height: 260px;
  }

  .name-portrait {
    font-size: 2em;
  }

  .role-portrait {
    font-size: 1em;
  }

  /* style the menu for smaller screens */
  .menu {
    display: none;
  }

  .menu-show {
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--blanc-casse-strong);
    box-shadow: 0 0px 3px var(--noir-casse-strong);
  }

  .menu-btn {
    display: block;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .text-container {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    width: 50%; /* Occupe la moitié de la largeur de la section */
    height: 100%; /* Occupe toute la hauteur de la section */
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 2;
  }
}
@media (max-width: 1070px) {
  .text-container {
  
  width: 40%; /* Occupe la moitié de la largeur de la section */
  
}
.accueil-text {
  width: 40%;
}
}

